%header
  %section.cuerpo
    .hero-unit#titulo
      %h1 Panel de control
    %article
      %h2 Bienvenido al panel de control
      %p Desde aquí podrá editar el contenido de la web, pulse en los distintos aparatados para desplegarlos y ver las opciones
    %article
      .seccion
        %h3
          %a Integrantes de la organización
        .listado#apartado
          %ul
            - @integrantes.each do |integrante|
              .bloque
                %li
                  %a
                    %strong=integrante.name
                .contenido
                  %p= integrante.description.html_safe
                  %p= button_to 'Editar', edit_integrante_path(integrante), method: "get", class: "btn btn-primary"
          %p= button_to 'Nuevo integrante', new_integrante_path(), method: "get", class: "btn btn-primary"
      .seccion
        %h3
          %a Publicaciones:
        .listado#apartado
          %ul
            - @publicaciones.each do |publicacion|
              .bloque
                %li
                  %a
                    %strong= publicacion.name
                .contenido
                  %p= publicacion.description.html_safe
                  %p= button_to 'Editar', edit_publicacion_path(publicacion), method: "get", class: "btn btn-primary"
          %p= button_to 'Nueva publicación', new_publicacion_path(), method: "get", class: "btn btn-primary"
      .seccion
        %h3
          %a Fotos del carrusel:
        .listado#apartado
          %ul
            - @fotos.each do |foto|
              .bloque
                %li
                  %a
                    %strong= foto.name
                .contenido
                  %p= foto.img_link
                  %p
                    -unless foto.img_link == ""
                      = image_tag foto.img_link, :size => "200x200", class: "img-rounded"

                  %p= button_to 'Editar', edit_foto_path(foto), method: "get", class: "btn btn-primary"
          %p= button_to 'Nueva foto', new_foto_path(), method: "get", class: "btn btn-primary"
      .seccion
        %h3
          %a Post del blog:
        .listado#apartado
          %ul
            - @posts.each do |post|
              .bloque
                %li
                  %a
                    %strong= post.title
                .contenido
                  %p
                    -unless post.img_link == ""
                      = image_tag post.img_link, :size => "200x200", class: "img-rounded"
                  %p= post.description.html_safe
                  %p= button_to 'Editar', edit_post_path(post), method: "get", class: "btn btn-primary"
          %p= button_to 'Nuevo post', new_post_path(), method: "get", class: "btn btn-primary"
      .seccion
        %h3
          %a Textos de la web:
        .listado#apartado
          %ul
            - @textos.each do |texto|
              .bloque
                %li
                  %a
                    %strong= texto.name
                  .contenido
                    %p= texto.content
                    %p= button_to 'Editar', edit_texto_path(texto), method: "get", class: "btn btn-primary"


