%h1#titulo ¿Quíenes somos?
%p
  = getTexto("quienes_somos")
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Nuestros integrantes son:
    %tbody
    - @integrantes.each do |int|
      %tr
        %td= image_tag int.img_link
        %td= link_to int.name, integrante_path(int)
        %td= int.description
        %td= link_to "Curriculum vitae", int.cv_link




