%h1#titulo ¿Quiénes somos?
%p
  = getTexto("quienes_somos")
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Nuestros integrantes son:
    %tbody
    - @integrantes.each do |int|
      %tr
        %td= image_tag(int.img_link, class: "foto_persona")
        %td= link_to int.name, integrante_path(int)
        %td= truncate(int.description.html_safe, length: 800)
        %td= link_to "Curriculum vitae", int.cv_link




