%h1 Publicaciones
%p
  = getTexto("publicaciones")

%table.table.table-striped
  %thead
    %tr
      %th Hasta el momento hemos publicado
  %tbody
  - @publicacions.each do |pub|
    %tr
      %td= image_tag pub.img_link
      %td= link_to pub.name, publicacion_path(pub)
      %td= pub.description
      %td= button_to "Ver Documento", pub.doc_link, class: "btn btn-primary"




