<%= form_for @foto, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :img_link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :img_link, :class => 'text_field' %>
      <% unless @foto.img_link == "" %>
        <%= image_tag @foto.img_link, :size => "200x200", class: "img-rounded", id: "foto_derecha" %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :section, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :section, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                fotos_path, :class => 'btn' %>
  </div>
<% end %>
