.contenedor-pie
  .pie
    %ul#lista-pie
      %li
        %h5 GALERÍA MULTIMEDIA
        %HR/
      %li= link_to "Enlace a Flickr", "http://www.flickr.com/photos/antigonapparticipativos"
      %li= link_to "Enlace a Vimeo", "https://vimeo.com/asociacionantigona/videos"
      %li= link_to "Enlace a Scribd", "http://es.scribd.com/"
    %ul#lista-pie
      %li
        %h5 ENTRADAS RECIENTES
        %HR/
      %li= link_to "entrada mas reciente", "http://www.flickr.com/photos/antigonapparticipativos"
      %li= link_to "entrada mas reciente", "https://vimeo.com/asociacionantigona/videos"
      %li= link_to "entrada mas reciente", "http://es.scribd.com/"
    %ul#lista-pie
      %li
        %h5 MANTENTE INFORMADO
        %HR/
      %li= link_to "formulario del correo", "http://www.flickr.com/photos/antigonapparticipativos"
      %li= link_to "Enlace a Vimeo", "https://vimeo.com/asociacionantigona/videos"
      %li= link_to "Enlace a Scribd", "http://es.scribd.com/"


  %p &copy; Pepetox 2013
