.logo
  %a#logo{:href => root_url}= image_tag("logo_antigona.jpg", id: "logo")
.navbar.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}

      .container-fluid.nav-collapse
        %ul.nav.center
          %li.barra= link_to "¿QUE HACEMOS?", main_que_hacemos_path
          %li.barra= link_to "¿QUIENES SOMOS?", integrantes_path
          %li.barra= link_to "EXPERIENCIAS", main_experiencias_path
          %li.barra= link_to "PUBLICACIONES", publicacions_path
          %li.barra= link_to "BLOG", posts_path
          %li.barra= link_to "CONTACTO", main_contacto_path
          / %li.barra
          /   =link_to "Panel de control", admin_path
          / %li.barra
          /   - if user_signed_in?
          /     = link_to "Desconectarse", destroy_user_session_path, :method => :delete
        / /.nav-collapse